# my notes file
notes.txt

# ignore checkpoints
checkpoints/*/*.pth
checkpoints/*/*.txt

# cache files
__pycache__/

# ignore big data
data/videos/
data/images/

# ignore test results folder
results/
